body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    min-height: 100vh;
}

.nav, .footer {
    background-color: #1F2937;
    flex: 0.25 1 auto;
}

.header, .info, .quote, .sign-up {
    flex: 1 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-right: 20vh;
    align-items: center;
}

a {
    text-decoration: none;
    color: #c6c6c6;
    font-size: 12px;
}

.logo {
    font-size: 18px;
    color: #F9FAF8;
    margin-left: 20vh;
    font-weight: bold;
}